#root {
  max-width: 1280px;
  margin: 0 auto;
  text-align: center;
  background-color: rgb(192, 205, 230);
}

#example{
  margin: 3rem ;
}

#example menu{
  display: flex;
  gap: 20px;
  list-style: none;
  padding: 0;
  margin: 0;
}

#example h2{
  text-align: left;
}
#example li{
  display: flex;
  gap: 20px;
}
#example menu button:hover{
  background-color: #1b082f;
  color: #ebe7ef;
}

#example menu button.active{
  background-color: #9a7abc;
  color: #ebe7ef;
}
